<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.kxm.kcgl.mapper.CustMapper">

	<resultMap id="Cust" type="com.kxm.kcgl.domain.Cust">
		<result property="id" column="ID" jdbcType="DECIMAL" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="userId" column="user_id" jdbcType="DECIMAL" />
	</resultMap>

	<insert id="insert" parameterType="com.kxm.kcgl.domain.Cust">
		INSERT INTO T_CUST (
			name,
			user_id
		) VALUES (
			#{name},
			#{userId}
		)
	</insert>

	<delete id="deleteByPk" parameterType="string">
	    <![CDATA[
	        DELETE FROM T_CUST WHERE ID = #{id} 
	    ]]>
	</delete>

	<select id="selectSelective" resultMap="Cust">
		SELECT * FROM T_CUST 
		<include refid="condition" />
	</select>

	<select id="countBySelective" resultType="int">
		SELECT count(*) FROM T_CUST
		<include refid="condition" />
	</select>
	
	<sql id="condition">
	    <where>
			<if test="name != null">
				name = #{name}		    
			</if>
			<if test="userId != null">
				user_id = #{userId}		    
			</if>
		</where>
	</sql>
</mapper>

