<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kxm.kcgl.mapper.FuncMapper">

	<resultMap id="Func" type="com.kxm.kcgl.domain.Func">
		<result property="id" column="ID" jdbcType="DECIMAL" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="type" column="TYPE" jdbcType="DECIMAL" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		ID,NAME,URL,TYPE
	    ]]>
	</sql>

	<select id="selectSelective" resultMap="Func">
		SELECT
		<include refid="columns" />
		FROM T_Func
		<include refid="where_condition" />
	</select>

	<select id="queryFuncListByUserId" resultMap="Func">
	    SELECT func.* FROM t_func func
		INNER JOIN t_right_func right_func ON func.id = right_func.func_id
		INNER JOIN t_user_right user_right ON user_right.right_id = right_func.right_id 
		AND user_right.user_id = #{userId}
    </select>
		
	<sql id="where_condition">
		<where>
	    	<if test=" id != null" >
     			AND ID = #{id}
    		</if>
    		<if test=" name != null" >
     			AND name = #{name}
    		</if>
		</where>
	</sql>
</mapper>

