<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kxm.kcgl.mapper.StockMapper">

	<resultMap id="Stock" type="com.kxm.kcgl.domain.Stock">
		<result property="id" column="ID" jdbcType="DECIMAL" />
		<result property="productNo" column="product_no" jdbcType="VARCHAR" />
		<result property="brandId" column="brand_id" jdbcType="DECIMAL" />
		<result property="brandName" column="brand_name" jdbcType="VARCHAR" />
		<result property="productId" column="product_id" jdbcType="DECIMAL" />
		<result property="productName" column="product_name" jdbcType="VARCHAR" />
		<result property="techId" column="tech_id" jdbcType="DECIMAL" />
		<result property="techName" column="tech_name" jdbcType="VARCHAR" />
		<result property="thicknessId" column="thickness_id" jdbcType="DECIMAL" />
		<result property="thicknessName" column="thickness_name" jdbcType="VARCHAR" />
		<result property="amount" column="amount" jdbcType="DECIMAL" />
		<result property="price" column="price" jdbcType="DECIMAL" />
		<result property="identifyId" column="identify_id" jdbcType="DECIMAL" />
		<result property="identifyName" column="identify_name" jdbcType="VARCHAR" />
		<result property="queryTimes" column="query_times" jdbcType="DECIMAL" />
	</resultMap>

	<select id="selectSelective" resultMap="Stock">
		SELECT
		stock.id,product.brand_id,brand.name brand_name,product.id
		product_id,product.product_no,product.product_name,tech.id
		tech_id,tech.name tech_name,thickness.id thickness_id,thickness.name
		thickness_name,stock.amount,product.price,stock.identify_id
		FROM t_stock stock
		LEFT JOIN t_product product ON stock.product_id = product.id
		LEFT JOIN t_brand brand ON product.brand_id = brand.id
		LEFT JOIN t_tech tech ON product.tech_id = tech.id
		LEFT JOIN t_thickness
		thickness ON product.thickness_id = thickness.id
		<where>
			<if test=" productNo != null">
				product.product_no = #{productNo}
			</if>
			<if test=" productName != null">
				AND product.product_name = #{productName}
			</if>
		</where>
	</select>

	<select id="countBySelective" resultType="int">
		SELECT count(*)
		thickness ON product.thickness_id = thickness.id
		<where>
			<if test=" productNo != null">
				product.product_no = #{productNo}
			</if>
			<if test=" productName != null">
				AND product.product_name = #{productName}
			</if>
		</where>
	</select>
</mapper>

