<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.kxm.kcgl.mapper.UserMapper">

	<resultMap id="User" type="com.kxm.kcgl.domain.User">
		<result property="id" column="ID" jdbcType="DECIMAL" />
		<result property="username" column="username" jdbcType="VARCHAR" />
		<result property="password" column="password" jdbcType="VARCHAR" />
		<result property="realname" column="realname" jdbcType="VARCHAR" />
		<result property="status" column="status" jdbcType="INTEGER" />
		<result property="manufactorId" column="manufactor_id" jdbcType="INTEGER" />
		<result property="createTime" column="createTime" jdbcType="TIMESTAMP" />
		<result property="updateTime" column="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		ID,USERNAME,PASSWORD,REALNAME,STATUS,CREATETIME,UPDATETIME
	    ]]>
	</sql>

	<insert id="insert" parameterType="com.kxm.kcgl.domain.User">
		INSERT INTO T_USER (
		id,
		username,
		password,
		realname,
		status,
		manufactor_id
		) VALUES (
		#{id},
		#{username},
		#{password},
		#{realname},
		#{status},
		#{manufactorId}
		)
	</insert>

	<update id="updateSelectiveByPk">
        UPDATE T_USER SET
        	<if test="username != null">
		        username = #{username} ,
        	</if>
        	<if test="password != null">
		        password = #{password} ,
        	</if>
        	<if test="status != null">
		        status = #{status} ,
        	</if>
    	  	<if test="manufactorId != null">
		        manufactor_id = #{manufactorId} ,
        	</if>
	        updateTime = now()
        WHERE 
	        ID = #{id} 
	</update>

	<delete id="deleteByPk" parameterType="string">
	    <![CDATA[
	        DELETE FROM T_USER WHERE ID = #{id} 
	    ]]>
	</delete>

	<select id="selectSelective" resultMap="User">
		SELECT 
			u.ID,u.USERNAME,u.PASSWORD,u.REALNAME,u.STATUS,m.id manufactorId, m.name manufactorName,u.CREATETIME,u.UPDATETIME
		FROM T_USER u
		left join t_manufactor m on u.manufactor_id = m.id
		<include refid="where_condition" />
		order by updateTime desc , createTime desc
	</select>

	<select id="countBySelective" resultType="int">
		SELECT count(*) FROM T_USER u
		<include refid="where_condition" />
	</select>

	<select id="selectByPk" resultMap="User">
		SELECT
		<include refid="columns" />
	    <![CDATA[
		    FROM T_USER 
	        WHERE ID = #{id} 
	    ]]>
	</select>

	<sql id="where_condition">
		<where>
	    	<if test=" id != null" >
     			AND u.ID = #{id}
    		</if>
    		<if test=" username != null and username !='' " >
     			AND u.username = #{username}
    		</if>
    		<if test=" password != null and password != '' " >
     			AND u.password = #{password}  
    		</if>
    		<if test=" status != null" >
     			AND u.status = #{status}
    		</if>
    		<if test=" manufactorId != null" >
     			AND u.manufactor_id = #{manufactorId}
    		</if>
    		<if test=" realname != null and realname != '' " >
     			AND u.realname like CONCAT('%',#{realname},'%')  
    		</if>
		</where>
	</sql>
</mapper>

